.Develop {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.Develop-auth-toolbar {
    border: 2px green dashed;
    padding: 4px;
}

.Develop-auth-form {
    border: 2px red dashed;
    padding: 4px;
}

.Develop-debug {
    color: white;
    background-color: red;
}

.Develop-area {
    border: 3px solid silver;
    padding: 4px;
    margin: 4px;
}