/* @font-face {
    font-family: 'Oxygen';
    src: url('fonts/Oxygen-webfont.eot');
    src: url('fonts/Oxygen-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Oxygen-webfont.woff') format('woff'), url('fonts/Oxygen-webfont.ttf') format('truetype'), url('fonts/Oxygen-webfont.svg#OxygenRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen';
    src: url('fonts/Oxygen-Italic-webfont.eot');
    src: url('fonts/Oxygen-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Oxygen-Italic-webfont.woff') format('woff'), url('fonts/Oxygen-Italic-webfont.ttf') format('truetype'), url('fonts/Oxygen-Italic-webfont.svg#OxygenItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Oxygen';
    src: url('fonts/Oxygen-Bold-webfont.eot');
    src: url('fonts/Oxygen-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Oxygen-Bold-webfont.woff') format('woff'), url('fonts/Oxygen-Bold-webfont.ttf') format('truetype'), url('fonts/Oxygen-Bold-webfont.svg#OxygenBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen';
    src: url('fonts/Oxygen-BoldItalic-webfont.eot');
    src: url('fonts/Oxygen-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Oxygen-BoldItalic-webfont.woff') format('woff'), url('fonts/Oxygen-BoldItalic-webfont.ttf') format('truetype'), url('fonts/Oxygen-BoldItalic-webfont.svg#OxygenBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'OxygenMono';
    src: url('fonts/OxygenMono-Regular-webfont.eot');
    src: url('fonts/OxygenMono-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OxygenMono-Regular-webfont.woff') format('woff'), url('fonts/OxygenMono-Regular-webfont.ttf') format('truetype'), url('fonts/OxygenMono-Regular-webfont.svg#OxygenMonoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBlack';
    src: url('fonts/Roboto-Black-webfont.eot');
    src: url('fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Black-webfont.woff') format('woff'), url('fonts/Roboto-Black-webfont.ttf') format('truetype'), url('fonts/Roboto-Black-webfont.svg#RobotoBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}

*/
/* H1 should only be used on the title area of the UI. The total height is 70px with 5px lower border, so the font size, 
   padding, and margin are arranged to center it vertically within this height.*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'RobotoBlack', Arial, sans-serif;
}

body {
    font-family: 'Oxygen', Arial, sans-serif;
}